@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.box {
    padding: 3rem 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    border-radius: 15px;
    height: 60vh;
    background: #fff;
    box-shadow: 0 0 40px #fff;
    background: #008b7d;
}

#btn {
    padding: 13px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.5s ease;

    &&:hover {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }

    &&:active {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }
}

input {
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    background: #fff;
    font-size: 15px;

    &&::placeholder {
        color: #000;
    }
}